@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .light {
    --background: 246.0 25.0% 92.2%;  
    --foreground: 240.0 10.0% 3.9%;  

    --nav: 0.0 0.0% 100.0%;  
    --nav-foreground: 240.0 10.0% 3.9%;  

    --primary: 240.0 5.9% 10.0%;  
    --primary-foreground: 0.0 0.0% 98.0%;  

    --secondary: 240.0 4.8% 95.9%;  
    --secondary-foreground: 240.0 5.9% 10.0%;  

    --card: 210.0 20.0% 98.0%;  
    --card-foreground: 240.0 10.0% 3.9%;  
    --card-body: 0.0 0.0% 100.0%;  
    --card-200: 220.0 13.0% 91.0%;  

    --input: 0.0 0.0% 100.0%;  
    /* --input: 240.0 33.3% 96.5%;   */
    --input-border: 240.0 5.9% 90.0%;  

    --popover: 0.0 0.0% 100.0%;  
    --popover-foreground: 240.0 10.0% 3.9%;  

    --muted: 240.0 4.8% 95.9%;  
    --muted-foreground: 240.0 3.8% 46.1%;  

    --accent: 203.6 100.0% 88.0%;  
    --accent-foreground: 219.9 81.7% 54.9%;  
    --accent-200: 240.0 4.8% 95.9%;  
    
    --hover: 0.0 0.0% 12.2%;  

    --destructive: 0.0 84.2% 60.2%;  
    --destructive-foreground: 0.0 0.0% 98.0%;  

    --border: 240.0 5.9% 90.0%;  
    /* --border: 192.0 18.5% 94.7%;   */

    --ring: 211.0 65.1% 44.9%;  
    --alpha: 0 0% 0%;
  }
   

  .dark {
    --background: 79.2 75.8% 6.5%;  
    --foreground: 240.0 14.3% 93.1%;  

    --nav: 215.3 30.4% 22.0%;  
    --nav-foreground: 210.0 4.5% 91.4%;  

    --primary: 0.0 0.0% 98.0%;  
    --primary-foreground: 240.0 5.9% 10.0%;  

    --secondary: 215.6 31.4% 20.0%;  
    --secondary-foreground: 240.0 14.3% 93.1%;  

    --accent: 216.6 30.8% 26.1%;  
    --accent-200: 233.6 15.9% 34.5%;  
    --accent-foreground: 192.1 100.0% 56.1%;  

    --hover: 0.0 0.0% 98.8%;  

    --card: 216.6 30.8% 26.1%;  
    --card-foreground: 240.0 14.3% 93.1%;  
    --card-200: 215.3 31.3% 32.0%;  
    --card-body: 215.6 31.4% 20.0%;  

    --input: 215.6 31.4% 20.0%;  
    --input2: 226.3 18.7% 36.7%;  
    --input-border: 240.0 4.9% 83.9%;  

    --popover: 215.6 31.4% 20.0%;  
    --popover2: 226.3 18.7% 36.7%;  
    --popover-foreground: 240.0 14.3% 93.1%;  

    --muted: 240.0 3.7% 15.9%;  
    --muted-foreground: 240.0 5.0% 64.9%;  

    --destructive: 0.0 62.8% 30.6%;  
    --destructive-foreground: 0.0 0.0% 98.0%;  

    --border: 240.0 14.3% 93.1%;  

    --ring: 211.0 65.1% 44.9%; 
    --alpha: 0 0% 100%; 
  }
   
   
}
@font-face {
  font-family: 'D7CBI';
  font-style: italic;
  font-weight: 400;
  src:
    url(https://static.figma.com/webfont/1/DSEG7Classic-Italic-Custom2.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/DSEG7Classic-Italic-Custom2.woff) format('woff');
}
@layer base {
  
  body {
    font-family: "Poppins", sans-serif;
    @apply bg-background text-foreground text-[14px];
  }

  html::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  html::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 16px;
  }

  /* Handle */
  html::-webkit-scrollbar-thumb {
    background: rgba(85, 86, 87, 0.408);
    border-radius: 16px;
  }

  /* Handle on hover */
  html::-webkit-scrollbar-thumb:hover {
    background: #4250afad;
    border-radius: 16px;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components{
  /* scrollbar start */
  /* width */
  .ufo-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  .ufo-scrollbar::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    @apply bg-background;
    border-radius: 16px;
  }

  /* Handle */
  .ufo-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(85, 86, 87, 0.408);
    border-radius: 16px;
  }

  /* Handle on hover */
  .ufo-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4250afad;
    border-radius: 16px;
  }
  /* scrollbar end */
}


@layer utilities {
   /* Hidden scrollbar */
  /* width */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }

  .scrollbar-stable {
    scrollbar-gutter: stable both-edges;
  }
  

  .ufo-bg {
    --surface: #1d2125;
    --surface-sunken: #161a1d;
    background-color: var(--surface, white);
    background-image: linear-gradient(
        45deg,
        var(--surface-sunken, #f7f8f9) 25%,
        transparent 25%
      ),
      linear-gradient(
        135deg,
        var(--surface-sunken, #f7f8f9) 25%,
        transparent 25%
      ),
      linear-gradient(
        45deg,
        transparent 75%,
        var(--surface-sunken, #f7f8f9) 75%
      ),
      linear-gradient(
        135deg,
        transparent 75%,
        var(--surface-sunken, #f7f8f9) 75%
      );
    background-position:
      0 0,
      10px 0,
      10px -10px,
      0px 10px;
    background-size: 20px 20px;
  }

  .ufo-shadow {
    box-shadow: 
    0px 0px 0px 1px rgba(14 63 126 / 0.04),
    0px 1px 1px -0.5px rgba(42 51 70 / 0.04),
    0px 3px 3px -1.5px rgba(42 51 70 / 0.04),
    0px 6px 6px -3px rgba(42 51 70 / 0.04),
    0px 12px 12px -6px rgba(14 63 126 / 0.04),
    0px 24px 24px -12px rgba(14 63 126 / 0.04);
  }

  .cubic-filter {
    filter: url(#cubic-filter);
  }
}
