@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 230 240;   
    --foreground: 9 9 11;   

    --nav: 255 255 255;   
    --nav-foreground: 9 9 11;   

    --primary: 24 24 27;   
    --primary-foreground: 250 250 250;   

    --secondary: 244 244 245;   
    --secondary-foreground: 24 24 27;   

    --card: 249 250 251;   
    --card-foreground: 9 9 11;   
    --card-body: 255 255 255;   
    --card-200: 229 231 235;   

    --input: 255 255 255;   
    /* --input: 243 243 249;    */
    --input-border: 228 228 231;   

    --popover: 255 255 255;   
    --popover-foreground: 9 9 11;   

    --muted: 244 244 245;   
    --muted-foreground: 113 113 122;   

    --accent: 194 231 255;   
    --accent-foreground: 46 109 234;   
    --accent-200: 244 244 245;   
    
    --hover: 31 31 31;   

    --destructive: 239 68 68;   
    --destructive-foreground: 250 250 250;   

    --border: 228 228 231;   
    /* --border: 239 243 244;    */

    --ring: 40 112 189;   

    --radius: 0.5rem;
  }

  .dark {
    --background: 21 29 4;   
    --foreground: 235 235 240;   

    --nav: 39 53 73;   
    --nav-foreground: 232 233 234;   

    --primary: 250 250 250;   
    --primary-foreground: 24 24 27;   

    --secondary: 35 48 67;   
    --secondary-foreground: 235 235 240;   

    --accent: 46 62 87;   
    --accent-200: 74 77 102;   
    --accent-foreground: 31 210 255;   

    --hover: 252 252 252;   

    --card: 46 62 87;   
    --card-foreground: 235 235 240;   
    --card-200: 56 77 107;   
    --card-body: 35 48 67;   

    --input: 35 48 67;   
    --input2: 76 84 111;   
    --input-border: 212 212 216;   

    --popover: 35 48 67;   
    --popover2: 76 84 111;   
    --popover-foreground: 235 235 240;   

    --muted: 39 39 42;   
    --muted-foreground: 161 161 170;   

    --destructive: 127 29 29;   
    --destructive-foreground: 250 250 250;   

    --border: 235 235 240;   

    --ring: 40 112 189;   

    --surface: #1d2125;
    --surface-sunken: #161a1d;
  }
}

@layer base {
  html {
    @apply text-[14px];
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: "Poppins", sans-serif;
}


html::-webkit-scrollbar {
  width: 8px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 16px;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: rgba(85, 86, 87, 0.408);
  border-radius: 16px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: #4250afad;
  border-radius: 16px;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer utilities {
  /* scrollbar start */
  /* width */
  .ufo-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  .ufo-scrollbar::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    @apply bg-background;
    border-radius: 16px;
  }

  /* Handle */
  .ufo-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(85, 86, 87, 0.408);
    border-radius: 16px;
  }

  /* Handle on hover */
  .ufo-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4250afad;
    border-radius: 16px;
  }

  /* Hidden scrollbar */
  /* width */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }

  .scrollbar-stable {
    scrollbar-gutter: stable both-edges;
  }
  /* scrollbar end */

  .ufo-bg {
    background-color: var(--surface, white);
    background-image: linear-gradient(
        45deg,
        var(--surface-sunken, #f7f8f9) 25%,
        transparent 25%
      ),
      linear-gradient(
        135deg,
        var(--surface-sunken, #f7f8f9) 25%,
        transparent 25%
      ),
      linear-gradient(
        45deg,
        transparent 75%,
        var(--surface-sunken, #f7f8f9) 75%
      ),
      linear-gradient(
        135deg,
        transparent 75%,
        var(--surface-sunken, #f7f8f9) 75%
      );
    background-position:
      0 0,
      10px 0,
      10px -10px,
      0px 10px;
    background-size: 20px 20px;
  }

  ufo-shadow {
    box-shadow: 
    0px 0px 0px 1px rgba(14 63 126 / 0.04),
    0px 1px 1px -0.5px rgba(42 51 70 / 0.04),
    0px 3px 3px -1.5px rgba(42 51 70 / 0.04),
    0px 6px 6px -3px rgba(42 51 70 / 0.04),
    0px 12px 12px -6px rgba(14 63 126 / 0.04),
    0px 24px 24px -12px rgba(14 63 126 / 0.04);
  }

  .cubic-filter {
    filter: url(#cubic-filter);
  }
}
