@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* light */
    --ufo-primary: 66 80 175;
    --ufo-bg: 255 255 255;
    --ufo-fg: 0 0 0;
    --ufo-gray: 246 246 244;
    --ufo-error: 229 115 115;
    --ufo-success: 129 199 132;
    --ufo-warning: 255 183 77;

    /* dark */
    --ufo-dark-primary: 172 203 250;
    --ufo-dark-bg: 21, 29, 40;
    --ufo-dark-bg2: 39, 53, 73;
    --ufo-dark-fg: 229 231 235;
    /* --ufo-dark-fg: 232, 233, 234; */
    --ufo-dark-gray: 33 33 33;
    --ufo-dark-error: 211 47 47;
    --ufo-dark-success: 56 142 60;
    --ufo-dark-warning: 245 124 0;
    --panel-width: 64px;
    --panels-duration: 400ms;
  }
  
}

@layer components {   
  
}

@layer utilities {
    /* width */
    .ufo-scrollbar::-webkit-scrollbar {
      width: 8px;
    }
  
    /* Track */
    .ufo-scrollbar::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 16px;
    }
  
    /* Handle */
    .ufo-scrollbar::-webkit-scrollbar-thumb {
      background: rgba(85, 86, 87, 0.408);
      border-radius: 16px;
    }
  
    /* Handle on hover */
    .ufo-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #4250afad;
      border-radius: 16px;
    }
  
    /* Hidden scrollbar */
    /* width */
    .scrollbar-hidden::-webkit-scrollbar {
      display: none;
      scrollbar-width: none;
    }
  
    .scrollbar-stable {
      scrollbar-gutter: stable both-edges;
    }
  
  
}
 
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
