@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 246 25.0% 92.2%;
    --foreground: 240 10% 3.9%;

    --nav: 0 0% 100%;
    --nav-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --card: 210 20% 98%;
    --card-foreground: 240 10% 3.9%;
    --card-body: 0 0% 100%;
    --card-200: 220 13% 91%;

    --input: 0 0% 100%;
    /* --input: 240 33.3% 96.5%; */
    --input-border: 240 5.9% 90%;
    

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;


    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --accent-200: 240 4.8% 95.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    
    --ring: 211 65.1% 44.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 79 75.8% 6.5%;
    --foreground: 240 14.3% 93.1%;
 
    --nav: 215 30.4% 22.0%;
    --nav-foreground: 210 4.5% 91.4%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 216 31.4% 20%;
    --secondary-foreground: 240 14.3% 93.1%;

    --accent: 217 30.8% 26.1%;
    --accent-200: 234 15.9% 34.5%;
    --accent-foreground: 192 100% 56.1%;

    --card: 217 30.8% 26.1%;
    --card-foreground: 240 14.3% 93.1%;
    --card-200: 215 31.3% 32%;
    --card-body: 216 31.4% 20%;

    --input: 216 31.4% 20%;
    --input2: 226 18.7% 36.7%;
    --input-border: 240 4.9% 83.9%;
    
    
    --popover: 216 31.4% 20%;
    --popover2: 226 18.7% 36.7%;
    --popover-foreground: 240 14.3% 93.1%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;


    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 14.3% 93.1%;
    
    --ring: 211 65.1% 44.9%;
  }
}

@layer base {
  html {
    @apply text-[14px]
  }
  body {
    @apply bg-background text-foreground;
     
  }
}

html::-webkit-scrollbar {
  width: 8px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 16px;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: rgba(85, 86, 87, 0.408);
  border-radius: 16px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: #4250afad;
  border-radius: 16px;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



@layer utilities {
  /* scrollbar start */
  /* width */
  .ufo-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  .ufo-scrollbar::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    @apply bg-background;
    border-radius: 16px;
  }

  /* Handle */
  .ufo-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(85, 86, 87, 0.408);
    border-radius: 16px;
  }

  /* Handle on hover */
  .ufo-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4250afad;
    border-radius: 16px;
  }

  /* Hidden scrollbar */
  /* width */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }

  .scrollbar-stable {
    scrollbar-gutter: stable both-edges;
  } 
  /* scrollbar end */
  
  .cubic-filter {
    filter: url(#cubic-filter);
  }
}